<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Code Tutorial - Admin Panel</title>
    <!-- loader-->
    <link href="~/admin/css/pace.min.css" rel="stylesheet" />
    <script src="~/admin/js/pace.min.js"></script>
    <!--favicon-->
    @*<link rel="icon" href="~/admin/images/favicon.ico" type="image/x-icon">*@
    <!-- simplebar CSS-->
    <link href="~/admin/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <!-- Bootstrap core CSS-->
    <link href="~/admin/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animate CSS-->
    <link href="~/admin/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="~/admin/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Metismenu CSS-->
    <link href="~/admin//plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
    <!-- Custom Style-->
    <link href="~/admin/css/app-style.css" rel="stylesheet" />
    <!--Select2-->
    <link href="~/admin/plugins/select2/css/select2.min.css" rel="stylesheet" />

    @RenderSection("Styles", false)
    <style>
        body {
            overflow-x: hidden;
        }
    </style>


</head>

<body class="bg-theme bg-theme1">

    <!-- Start wrapper-->
    <div id="wrapper">

        <!--Start sidebar-wrapper-->
        <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">

            <div class="brand-logo">
                <img src="~/admin/images/logo-icon.png" class="logo-icon" alt="logo icon">
                <h5 class="logo-text">Code Tutorial</h5>
                <div class="close-btn"><i class="zmdi zmdi-close"></i></div>
            </div>

            <ul class="metismenu" id="menu">
                <li>
                    <a asp-controller="Dashboard" asp-action="Index" asp-area="Admin">
                        <div class="parent-icon"><i class="zmdi zmdi-view-dashboard"></i></div>
                        <div class="menu-title">İdarəetmə paneli</div>
                    </a>
                </li>
                @if (User.IsInRole("Admin") || User.IsInRole("Moderator")) 
                {
                    <li>
                        <a class="has-arrow" href="javascript:void();">
                            <div class="parent-icon"> <i class='zmdi zmdi-collection-folder-image'></i></div>
                            <div class="menu-title">Səhifələr</div>
                        </a>
                        <ul>
                            <li><a asp-action="Index" asp-controller="HomePage" asp-area="Admin"><i class="zmdi zmdi-dot-circle-alt"></i>Əsas Səhifə</a></li>
                            <li><a asp-action="Index" asp-controller="ContactPage" asp-area="Admin"><i class="zmdi zmdi-dot-circle-alt"></i>Əlaqə Səhifəsi</a></li>
                        </ul>
                    </li>
                }
                <li>
                    <a asp-controller="Category" asp-action="Index" asp-area="Admin">
                        <div class="parent-icon"><i class="zmdi zmdi-graduation-cap"></i></div>
                        <div class="menu-title">Kurslar</div>
                    </a>
                </li>

                @if (User.IsInRole("Admin")) 
                {
                    <li>
                        <a asp-controller="Deleted" asp-action="Index" asp-area="Admin">
                            <div class="parent-icon"><i class="zmdi zmdi-delete"></i></div>
                            <div class="menu-title">Silinmişlər</div>
                        </a>
                    </li>
                }

                @if (User.IsInRole("Admin") || User.IsInRole("Moderator")) 
                {
                    <li>
                        <a asp-controller="Mail" asp-action="Index" asp-area="Admin">
                            <div class="parent-icon"><i class="zmdi zmdi-email"></i></div>
                            <div class="menu-title">Məktub Qutusu</div>
                        </a>
                    </li>
                }

                
                <li>
                    <a asp-controller="Calendar" asp-action="Index" asp-area="Admin">
                        <div class="parent-icon"><i class="zmdi zmdi-calendar-check"></i></div>
                        <div class="menu-title">Kalendar</div>
                    </a>
                </li>
                <li>
                    <a asp-controller="Chat" asp-action="Index" asp-area="Admin">
                        <div class="parent-icon"><i class="icon-paper-plane icons"></i></div>
                        <div class="menu-title">Mesajlar</div>
                    </a>
                </li>
                 @if (User.IsInRole("Admin") || User.IsInRole("Moderator")) 
                {
                    <li>
                        <a asp-controller="Users" asp-action="Index" asp-area="Admin">
                            <div class="parent-icon"><i class="icon-people icons"></i></div>
                            <div class="menu-title">İstifadəçilər</div>
                        </a>
                    </li>
                }
                
            </ul>

        </div>
        <!--End sidebar-wrapper-->
        <!--Start topbar header-->
        @await Component.InvokeAsync("User")
        <!--End topbar header-->

        <div class="clearfix"></div>
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
        <!--End Back To Top Button-->
        <!--Start footer-->
        <footer class="footer" style="position:absolute; bottom:0">
            <div class="container">
                <div class="text-center">
                    Copyright © 2020 Code Tutorial
                </div>
            </div>
        </footer>
        <!--End footer-->
        <!--start color switcher-->
        <div class="right-sidebar">
            <div class="switcher-icon">
                <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
            </div>
            <div class="right-sidebar-content">

                <p class="mb-0">Gaussion Texture</p>
                <hr>

                <ul class="switcher">
                    <li id="theme1"></li>
                    <li id="theme2"></li>
                    <li id="theme3"></li>
                    <li id="theme4"></li>
                    <li id="theme5"></li>
                    <li id="theme6"></li>
                </ul>

                <p class="mb-0">Gradient Background</p>
                <hr>

                <ul class="switcher">
                    <li id="theme7"></li>
                    <li id="theme8"></li>
                    <li id="theme9"></li>
                    <li id="theme10"></li>
                    <li id="theme11"></li>
                    <li id="theme12"></li>
                    <li id="theme13"></li>
                    <li id="theme14"></li>
                    <li id="theme15"></li>
                </ul>

            </div>
        </div>
        <!--end color switcher-->

    </div><!--End wrapper-->
    <!-- Bootstrap core JavaScript-->
    <script src="~/admin/js/jquery.min.js"></script>
    <script src="~/admin/js/popper.min.js"></script>
    <script src="~/admin/js/bootstrap.min.js"></script>

    <!-- simplebar js -->
    <script src="~/admin/plugins/simplebar/js/simplebar.js"></script>
    <!-- Metismenu js -->
    <script src="~/admin/plugins/metismenu/js/metisMenu.min.js"></script>
    <!-- Custom scripts -->
    <script src="~/admin/js/app-script.js"></script>
    <!--Select2-->
    <script src="~/admin/plugins/select2/js/select2.min.js"></script>
    <!--Select2-->
    <script src="~/admin/plugins/sweetalert/sweetalert.js"></script>
    @RenderSection("Scripts", false)

</body>

</html>
