@model IEnumerable<Subject>

        @foreach (Subject subject in Model)
        {
            <li class="list-group-item" style="padding-bottom:13px">
                <a asp-controller="Course" asp-action="Article" asp-route-id="@subject.Id">@subject.Course.Name - @subject.Name</a>
            </li>
        }
