
<div class="container-fluid">
    <div class="row pt-2 pb-2">
        <div class="col-sm-6">
            <h2 class="page-title">Silinmişlər</h2>
        </div>
    </div>
    <hr />
    <div class="row pt-5 pb-5">
        <div class="col-12 col-lg-4 col-xl-4">
            <a asp-controller="Deleted" asp-action="Category" asp-area="Admin">
                <div class="card" style="height:200px">
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <h1 class="text-white text-center">Kateqoriyalar</h1>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-lg-4 col-xl-4">
            <a  asp-controller="Deleted" asp-action="Course" asp-area="Admin">
                <div class="card" style="height:200px">
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <h1 class="text-white text-center">Kurslar</h1>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-lg-4 col-xl-4">
            <a  asp-controller="Deleted" asp-action="Subject" asp-area="Admin">
                <div class="card" style="height:200px">
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <h1 class="text-white text-center">Mövzular</h1>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
