@model ForgetPasswordVM
@{ ViewData["Title"] = "Şifrəni unutmuşam"; }
<section id="forms" class="section-padding">
    <div id="sign_in_form" class="sign_in animated_form" style="margin:0!important;position:relative">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-8 forms">
                    <h2 class="text-center">Şifrəni unutmuşam</h2>
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <form method="post" asp-controller="Account" asp-action="ForgetPassword">
                        <div class="form-group">
                            <input asp-for="@Model.Email">
                            <label for="">Email</label>
                            <div class="line"></div>
                        </div>
                        <span class="text-danger" asp-validation-for="Email"></span>

                        <button class="btn" type="submit">Göndər</button>
                    </form>

                    <div class="action_change">
                        <a  class="special_underline changer" asp-action="Index" asp-controller="Home">Əsas səhifəyə qayıt</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

@section Scripts{
    <partial name="_Validation" />

 }
