@model AccountVM
@{
    ViewData["Title"] = "Hesab";
}

@section Styles{

    <style>
        body {
            overflow-x: hidden;
        }

        #forms {
            overflow: hidden
        }
    </style>

}
<!-- Form part starts -->
<section id="forms">
    <!-- Sign in Part -->
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <partial name="_LoginPartial">
        <partial name="_RegisterPartial">
            <!-- Sign in Part ends -->
</section>
<!-- Form part ends -->

@section Scripts{

    <partial name="_Validation">
        <script>

            $(".action_change .changer").click(function () {
                if ($(window).width() >= 1500) {
                    if ($(this).closest(".animated_form").hasClass("sign_in")) {
                        sessionStorage.setItem("page", "sign_up")
                        $(this).closest(".animated_form").animate({ "margin-left": "50%" })
                        $("#sign_up_form").animate({ "margin-left": "0%" })
                    }
                    else if ($(this).closest(".animated_form").hasClass("sign_up")) {
                        sessionStorage.setItem("page", "sign_in")
                        $(this).closest(".animated_form").animate({ "margin-left": "-50%" })
                        $("#sign_in_form").animate({ "margin-left": "0%" })
                    }
                }
                else {
                    if ($(this).closest(".animated_form").hasClass("sign_in")) {
                        sessionStorage.setItem("page", "sign_up")
                        $(this).closest(".animated_form").animate({ "margin-left": "100%" })
                        $("#sign_up_form").animate({ "margin-left": "0%" })
                    }
                    else if ($(this).closest(".animated_form").hasClass("sign_up")) {
                        sessionStorage.setItem("page", "sign_in")
                        $(this).closest(".animated_form").animate({ "margin-left": "-100%" })
                        $("#sign_in_form").animate({ "margin-left": "0%" })
                    }
                }
            })

            window.onload = function () {
                if ($(window).width() >= 1500) {
                    if (sessionStorage.getItem("page") == "sign_up") {
                        $("#sign_in_form").css({ "margin-left": "50%" })
                        $("#sign_up_form").css({ "margin-left": "0%" })
                    }
                    else {
                        $("#sign_up_form").css({ "margin-left": "-50%" })
                        $("#sign_in_form").css({ "margin-left": "0%" })
                    }
                }
                else {
                    if (sessionStorage.getItem("page") == "sign_up") {
                        $("#sign_in_form").css({ "margin-left": "100%" })
                        $("#sign_up_form").css({ "margin-left": "0%" })
                    }
                    else {
                        $("#sign_up_form").css({ "margin-left": "-100%" })
                        $("#sign_in_form").css({ "margin-left": "0%" })
                    }
                    $('#forms').css({ "overflow": "hidden" })
                }
            }

            var defaultRangeValidator = $.validator.methods.range;

            $.validator.methods.range = function (value, element, param) {
                if (element.type === 'checkbox') {
                    // if it's a checkbox return true if it is checked
                    return element.checked;
                } else {
                    // otherwise run the default validation function
                    return defaultRangeValidator.call(this, value, element, param);
                }
            }

            $("#open_modal").click(function () {
                $("body").css({ "overflowY": "hidden" })
                $(".modal").css({ "zIndex": "99999999999999999999999999" })
            })
            $("#close_modal,.modal").click(function () {
                $("body").css({ "overflowY": "visible" })
            })

        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

}
