@model AccountVM
@{
    ViewData["Title"] = "Hesab";
}
<!-- Form part starts -->
<section id="forms">
    <!-- Sign in Part -->
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <partial name="_LoginPartial">
        <partial name="_RegisterPartial">
            <!-- Sign in Part ends -->
</section>
<!-- Form part ends -->

@section Scripts{

    <partial name="_Validation">
        <script>
            $(".action_change .changer").click(function () {
                console.log("aye")
                if ($(window).width() >= 1500) {
                    if ($(this).closest(".animated_form").hasClass("sign_in")) {
                        sessionStorage.setItem("page", "sign_up")
                        $("body").css({ "overflowX": "hidden" })
                        $(this).closest(".animated_form").animate({ "margin-left": "50%" })
                        $("#sign_up_form").animate({ "margin-left": "0%" })
                    }
                    else if ($(this).closest(".animated_form").hasClass("sign_up")) {
                        sessionStorage.setItem("page", "sign_in")
                        $("body").css({ "overflowX": "hidden" })
                        $(this).closest(".animated_form").animate({ "margin-left": "-50%" })
                        $("#sign_in_form").animate({ "margin-left": "0%" })
                    }
                }
                else {
                    if ($(this).closest(".animated_form").hasClass("sign_in")) {
                        sessionStorage.setItem("page", "sign_up")
                        $("body").css({ "overflowX": "hidden" })
                        $(this).closest(".animated_form").animate({ "margin-left": "100%" })
                        $("#sign_up_form").animate({ "margin-left": "0%" })
                    }
                    else if ($(this).closest(".animated_form").hasClass("sign_up")) {
                        sessionStorage.setItem("page", "sign_in")
                        $("body").css({ "overflowX": "hidden" })
                        $(this).closest(".animated_form").animate({ "margin-left": "-100%" })
                        $("#sign_in_form").animate({ "margin-left": "0%" })
                    }
                }
            })

            window.onload = function () {
                inputs = document.querySelectorAll("input")
                for (let i = 0; i < inputs.length; ++i) {
                    if (inputs[i].getAttribute("type") == "password") {
                        console.log(inputs[i].innerHTML)
                    }
                }

                if ($(window).width() >= 1500) {
                    if (sessionStorage.getItem("page") == "sign_up") {
                        $("#sign_in_form").css({ "margin-left": "50%" })
                        $("#sign_up_form").css({ "margin-left": "0%" })
                    }
                    else {
                        $("#sign_up_form").css({ "margin-left": "-50%" })
                        $("#sign_in_form").css({ "margin-left": "0%" })
                    }
                    $("body").css({ "overflowX": "hidden" })
                }
                else {
                    if (sessionStorage.getItem("page") == "sign_up") {
                        $("#sign_in_form").css({ "margin-left": "100%" })
                        $("#sign_up_form").css({ "margin-left": "0%" })
                    }
                    else {
                        $("#sign_up_form").css({ "margin-left": "-100%" })
                        $("#sign_in_form").css({ "margin-left": "0%" })
                    }
                    $("body").css({ "overflowX": "hidden" })
                }
            }
        </script>
        <script>
            $("#open_modal").click(function () {
                $("body").css({ "overflowY": "hidden" })
                $(".modal").css({ "zIndex": "99999999999999999999999999" })
            })
            $("#close_modal,.modal").click(function () {
                $("body").css({ "overflowY": "visible" })
            })
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

}
