@model ResetPasswordVM
@{ ViewData["Title"] = "Şifrəni unutmuşam"; }
<section id="forms" class="section-padding">
    <div id="sign_in_form" class="sign_in animated_form" style="margin:0!important;position:relative">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-8 forms">
                    <h2 class="text-center">Şifrəni unutmuşam</h2>
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <form method="post">
                        <input asp-for="Email" type="hidden" />
                        <input asp-for="Token" type="hidden" />
                        <div class="form-group">
                            <input asp-for="Password">
                            <label for="">Şifrə</label>
                            <div class="line"></div>
                        </div>
                        <span class="text-danger" asp-validation-for="Password"></span>
                        <div class="form-group">
                            <input asp-for="RepeatPassword">
                            <label for="">Şifrəni Təkrarlayın</label>
                            <div class="line"></div>
                        </div>
                        <span class="text-danger" asp-validation-for="RepeatPassword"></span>

                        <button class="btn" type="submit">Sıfırla</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

</section>

@section Scripts{
    <partial name="_Validation" />

}
