@model Login
<div id="sign_in_form" class="sign_in animated_form">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-6  page_changer" style="background-color: #142237;">
                <div class="image">
                    <img src="~/img/greeting.svg" alt="">
                </div>
            </div>
            <div class="col-xl-6 col-8 forms">
                <h2 class="text-center">Daxil Ol</h2>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <form method="post" asp-controller="Account" asp-action="Login">
                    <div class="form-group">
                        <input asp-for="Username">
                        <label for="">İstifadəçi adı</label>
                        <div class="line"></div>
                    </div>
                    <span class="text-danger" asp-validation-for="Username"></span>
                    <div class="form-group">
                        <input asp-for="Password">
                        <label for="">Şifrə</label>
                        <div class="line"></div>
                    </div>
                    <span class="text-danger" asp-validation-for="Password"></span>
                    <button class="btn" type="submit">Daxil ol</button>

                    <div class="form_support" style="width:100%">
                        <div class="checkbox">
                            <input asp-for="isChecked">
                            <label for="">Şifrəni yadda saxla</label>
                        </div>
                        <a href="">Şifrəni unutmuşam</a>
                    </div>
                </form>
                <div class="action_change">
                    <h6>Hesabınız yoxdur? <a class="special_underline changer">Qeydiyyatdan keçin</a></h6>
                </div>
            </div>
        </div>
    </div>
</div>