
<section id="error" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img style="width:100%" src="~/img/error.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-12 align-items-center d-flex flex-column">
                <h1 class="text-center mt-5">Kiçik bir xəta baş verdi. Üzr istəyirik</h1>
                <a href="/Home/Index" class="btn text-center">Geriyə dön</a>
            </div>
        </div>


    </div>
</section>